@font-face {
    font-family: Inter-Light;
    src: url("/fonts/Inter-Light.ttf");
}

@font-face {
    font-family: Inter-Bold;
    src: url("/fonts/Inter-Bold.ttf");
}

@font-face {
    font-family: Inter-Medium;
    src: url("/fonts/Inter-Medium.ttf");
}

@font-face {
    font-family: Inter-Extra-Light;
    src: url("/fonts/Inter-ExtraLight.ttf");
}

@font-face {
    font-family: Montserrat-Light;
    src: url("/fonts/Montserrat-Light.ttf");
}

@font-face {
    font-family: Montserrat-Bold;
    src: url("/fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: Montserrat-ExtraLight;
    src: url("/fonts/Montserrat-ExtraLight.ttf");
}

.text{
    font-family: Inter-Light;
}

.light_text{
    font-family: Inter-Extra-Light;
}

.title{
    font-family: Inter-Bold;
}

.montserrat_light{
    font-family: Montserrat-Light;
}

.montserrat_bold{
    font-family: Montserrat-Bold;
}

.montserrat_extraLight{
    font-family: Montserrat-ExtraLight;
}

.index_image{
    background-size: cover;
    height: 250px;
    background-position: center;
}

.col_index_image{
    background-size: cover;
    height: 400px;
    background-position: center;
}

.all_height_image{
    background-size: cover;
    min-height: 100vh;
    background-size: center;
}

.media_text{
    max-width: 40%;
}

.header{
    background-color: rgb(255, 255, 255);
}

.content{
    background-color: rgb(231, 231, 231);
    min-height: 100vh;
}

.content_block{
    background-color: rgb(255, 255, 255);
}

.home_user_image{
    width: 250px;
    height: 250px;
    border-radius: 100px;
}

.custom_button{
    font-family: Montserrat-Light;
    color: white;
    padding: 10px 20px 10px 20px;
    background-color: rgb(142, 90, 166);
    border: none;
    border-radius: 30px;
}

.white_custom_button{
    font-family: Montserrat-Bold;
    color: rgb(142, 90, 166);
    padding: 10px 20px 10px 20px;
    background-color: white;
    border: 1px solid rgb(142, 90, 166);
    border-radius: 30px;
}

@media (max-width: 767.98px){ 
    .media_text{
        max-width: 95%;
    }
}